---
interface Props { title: string; }
const { title } = Astro.props;
---
<!doctype html>
<html lang="es" class="h-full w-full overflow-hidden"> <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    
    <title>{title}</title>
</head>
	<body class="h-full w-full bg-black text-white antialiased">
		<slot />
	</body>
</html>

<style is:global>
	html, body {
		/* Evita rebotes raros en iOS */
		overscroll-behavior-y: none;
	}
h1 {
    -webkit-text-stroke: 0.5px white; /* Esto le agrega un borde ínfimo que la hace ver más gruesa */
}
	section {
		/* 'will-change' le avisa al celu que esta sección se va a mover */
		will-change: transform;
		/* Fuerza el uso de la GPU */
		transform: translateZ(0);
	}

	img {
		/* Evita que el celular intente suavizar la imagen mientras scrolleas */
		image-rendering: -webkit-optimize-contrast;
		backface-visibility: hidden;
	}
	.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
